:root {
    --yellow: #fbe38b;
}

/* !important overrides Bulma */
footer{
    background-color: var(--yellow) !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* Icons are font */
I {
font-size: 2rem;
}

/* Places home button in the top right */
#homeBtn {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}