.bg-img { 
    background-image: url("../images/cocktail.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    background-attachment: fixed;
}

.back-button {
    size: 25px;

}

.icon {
    size: 48px;
}